docs/slides/~$15-AI-Copyright.pptx
docs/midterm/2024/exam.aux
docs/midterm/2024/exam.log
docs/midterm/.claude/settings.local.json
.idea/inspectionProfiles/Project_Default.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/vcs.xml
.idea/security-course.iml
.idea/modules.xml
.idea/misc.xml
docs/midterm/2024/exam.pdf
